.about-header {
    background:gray;
    height:400px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    color:#fff;
    font-weight: bold;
    font-size: 48px;
    overflow: hidden;
    position:relative;
}

.about-title {
    z-index: 100;
}

.bg-video {
    position:absolute;
    width:100%;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    filter: grayscale(80%) blur(2px);
}

h3 {
    width:100%;
    
    padding-bottom: 10px;
    border-bottom:1px solid #000;
}

h3:first-of-type {
    margin-top:50px;
}

.about {
    width:80vw; 
    max-width:1100px;
    margin:0 auto;    
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*-----------------↓フォームの設定-------------------*/

form {
    width:100%;
    padding:50px 60px;
}

.form {
    display:flex;  
    justify-content: center;
    flex-wrap: wrap;
    width:800px;
    margin:0 auto;
    margin-bottom:20px;
    position:relative;
}

.form p {
    width:200px;
    font-weight: bold;
}

input {
    border-radius:8px;
    width:600px;
    height:30px;
    border:1px solid #000;
    box-sizing: border-box;
    padding:0px 5px;
}

textarea {
    border-radius:8px;
    width:600px;
    height:300px;
    resize:none;
    box-sizing: border-box;
    padding:5px 5px;
}

.submit {
    width:800px;
    display: flex;
    justify-content: flex-end;
    margin:0 auto;
}

.submit-button {
    width:120px;
    height:40px;
    background:#1fb285;
    color:white;
    font-weight: bold;
    border:none;
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



/*-----------------↓ポップアップの設定-------------------*/

.confirm-popup {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    z-index: 101;
    display:none;
}

.popup-bg {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    background:#000;
    opacity: 0.5;
}

.confirm-area {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#fff;
    width:600px;
    height:700px;
    border-radius: 8px;
    box-sizing: border-box;
    padding:40px;
}

.confirm-area h2 {
    margin-bottom:30px;
}

.confirm-title {
    font-weight: bold;
}

.confirm-content {
    margin-bottom:10px;
}

.confirm-submit {
    width:120px;
    height:40px;
    background:#1fb285;
    color:white;
    font-weight: bold;
    border:none;
    border-radius: 8px;
    float:right;
}

.confirm-contact {
    min-height:200px;
}

span {
    width:100%;
    font-size:small;
    color:red;
    text-align:left;
    padding-left:200px;
    padding-top:2px;
}

